/FirstProject/target/
/Demodb/dist/
/JavaLoginExercise/dist/
/JavaLoginExercise/build/
/JavaRevisionProject/nbproject/private/
/JavaRevisionProject/build/
/Practice_Database_Access/build/
/GuiExample/dist/
